////////////
// HEADER //
////////////

.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url(../img/background-1.jpg);
    background-size: cover;
    background-position: center;
    @supports not (-webkit-overflow-scrolling: touch) {
        /* CSS for other than iOS devices */ 
        background-attachment: scroll;
    }
    @supports (-webkit-overflow-scrolling: touch) {
        /* CSS specific to iOS devices */ 
        background-attachment: fixed;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;

    // First Name Properties
    .header__first-name{
        font-size: 9rem;
        color: white;
        font-weight: 100;

        // Media Queries to remove animation at certain width
        @media only screen and (min-width: $bp-xm + .25){
            animation: moveInTopLeft 6s cubic-bezier(1,.29,.61,.62);
        }
        margin-bottom: -5rem;

        // Media Queries
        @media only screen and (max-width: $bp-xm){
            font-size: 7rem;
            margin-bottom: -3.5rem;
        }

        @media only screen and (max-width: $bp-s){
            font-size: 5rem;
            margin-bottom: -2rem;
        }
    }
    
    // Media Queries for svg
    @media only screen and (max-width: $bp-s){
        svg{ width: 18rem; }
    }

    // Surname Properties
    .header__surname{
        font-size: 9rem;
        color: white;
        font-weight: 100;

        // Media Queries to remove animation at certain width
        @media only screen and (min-width: $bp-xm + .25){ animation: moveInBotRight 6s cubic-bezier(1,.29,.61,.62); }
        
        // Media Queries
        @media only screen and (max-width: $bp-xm){
            font-size: 7rem;
            .letter{opacity: 1;}
        }

        @media only screen and (max-width: $bp-s){ font-size: 5rem; }

        // Animate the letter at certain width only
        @media only screen and (min-width: $bp-xm + .25){
            .letter{ animation: opacity 6.2s; }
        }
    }

    // For each letter animate it and make the stroke at certain width only
    @media only screen and (min-width: $bp-xm + .25){
        .header__portfolio-logo{
            path:nth-child(2) {
                stroke-dasharray: 320px;
                stroke-dashoffset: 320px;
                animation: line-anim 2s ease forwards 1.2s;
            }

            path:nth-child(3) {
                stroke-dasharray: 330px;
                stroke-dashoffset: 330px;
                animation: line-anim 2s ease forwards 1.5s;
            }
            
            path:nth-child(4) {
                stroke-dasharray: 430px;
                stroke-dashoffset: 430px;
                animation: line-anim 2s ease forwards 1.8s;
            }

            path:nth-child(5) {
                stroke-dasharray: 400px;
                stroke-dashoffset: 400px;
                animation: line-anim 2s ease forwards 2.1s;
            }

            path:nth-child(6) {
                stroke-dasharray: 450px;
                stroke-dashoffset: 450px;
                animation: line-anim 2s ease forwards 2.4s;
            }

            path:nth-child(7) {
                stroke-dasharray: 330px;
                stroke-dashoffset: 330px;
                animation: line-anim 2s ease forwards 2.7s;
            }
            
            path:nth-child(8) {
                stroke-dasharray: 330px;
                stroke-dashoffset: 330px;
                animation: line-anim 2s ease forwards 3s;
            }
            
            path:nth-child(9) {
                stroke-dasharray: 330px;
                stroke-dashoffset: 330px;
                animation: line-anim 2s ease forwards 3.3s;
            }

            path:nth-child(10) {
                stroke-dasharray: 330px;
                stroke-dashoffset: 330px;
                animation: line-anim 2s ease forwards 3.6s;
            }
        }
    }
}
